/* GLOBAL STYLES
-------------------------------------------------- */
/* Padding below the footer and lighter body text */

body {
  padding-bottom: 40px;
  color: #5a5a5a;
}

.jumbotron{
  margin-top: 0px;
  background: url("images/phone-book1.jpg") bottom center no-repeat;
  background-size: cover;
  color: #FFFFFF;
}

.jumbotron h1{
  color: #FFFFFF;
  text-shadow: 0px 0px 5px #888888;
}

footer{
  border-top: 1px dashed #CCCCCC;
  margin: 40px 0px;
  padding: 20px 0px;
}

.form-signin {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}


/* CUSTOMIZE THE NAVBAR
-------------------------------------------------- */

/* Special class on .container surrounding .navbar, used for positioning it into place. */
.navbar-wrapper {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  z-index: 20;
}

/* Flip around the padding for proper display in narrow viewports */
.navbar-wrapper > .container {
  padding-right: 0;
  padding-left: 0;
}
.navbar-wrapper .navbar {
  padding-right: 15px;
  padding-left: 15px;
}
.navbar-wrapper .navbar .container {
  width: auto;
}


/* CUSTOMIZE THE CAROUSEL
-------------------------------------------------- */

/* Carousel base class */
.carousel {
  height: 350px;
  margin-bottom: 60px;
}

/* Declare heights because of positioning of img element */
.carousel .item {
  height: 350px;
  background-color: #777;
}
.carousel-inner > .item > img {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  height: 350px;
}

.carousel-caption {
  z-index: 10;
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 15px;
  background: #444444;
  background: rgba(0, 0, 0, 0.25);
  text-align: left;
}

.carousel-indicators {
}

@media (max-width: 767px) {

  .navbar-inner {
    margin: -20px;
  }

  .carousel {
    margin-left: -20px;
    margin-right: -20px;
    height: 250px;
  }

  .carousel .container {
  }

  .carousel .item {
    height: 250px;
  }

  .carousel img {
    max-width: 100%;
    height: auto;
  }

  .carousel-caption {
    width: 65%;
    padding: 0 70px;
    margin-top: 100px;
  }
  
  .carousel-caption h1 {
    font-size: 30px;
  }
  
  .carousel-caption .lead,
  .carousel-caption .btn {
    font-size: 18px;
  }
      
}